
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<a href="/Prod/ViewProd">View All Product </a>
<br />
<br />
<a href="/Prod/MyProd">My Product </a>
<br />
<br />
<a href="/Customer/MyProfile">My Profile</a>
<br />
<br />
<a href="/Customer/Logout">Logout</a>
<br />
<br />



