
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form asp-action="Register" asp-controller="Customer" method="post">
    Name : <input type="text" name="Cname" /><br /><br />
    Email : <input type="email" name="Cemail" /><br /><br />
    Password : <input type="password" name="CPassword" /><br /><br />
    Address : <textarea rows="5" cols="40" name="Cadd"></textarea>
    <br /><br />
    Gender : <select name="Cgender">
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
    </select>
        <br /><br />
    <input type="submit" value="Submit" /><br /><br />

</form>

