@{
    ViewBag.Title = "Add Product";
}

<h2>Add Product</h2>
<form asp-action="AddProd" asp-controller="Prod" method="post">
    Quentity : <input type="number" name="que" /><br /><br />

    <input type="submit" value="Add" />
    <br />
    <br />
</form>
